#content {
  margin-top: 120px;
}
h5 a {
  font-family: Lato;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 68, 79, 1);
}
h6 {
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
a span {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 68, 79, 1);
}
p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(103, 116, 124, 1);
}
h5 {
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(24, 24, 26, 1);
}
.collapse li {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(103, 116, 124, 1);
}
.head {
  font-family: Lato;
  font-size: 17px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 68, 79, 1) !important;
}
.booking h6 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(103, 116, 124, 1);
}
.tags {
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 68, 79, 1);
}
.activeLink {
  color: rgba(41, 124, 187, 1) !important;
  position: relative;
}
.activeLink::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  background: rgba(41, 124, 187, 1);
  left: -13px;
}
.list-item a {
  padding: 0.475rem 0.7rem !important;
}
.mat-expansion-panel-header {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(59, 68, 79, 1) !important;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}
.bg-img-hero {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.faq {
  width: 47px;
  height: 42px;
  border: 2px solid rgba(235, 240, 247, 1);
  /* background: aqua; */
  padding: 12px 15px;
  /* width: 1440px; */
  text-align: center;
  display: flex;
  justify-content: center;
}
/*******************************/
@media screen and (max-width: 992px) {
  .bg-img-hero {
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  #content {
    margin-top: 0px;
  }
}
