.payment {
    width: 178px;
    height: 60px;
    top: 1234px;
    left: 830px;
    border: 1px solid rgba(13, 177, 255, 1);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(13, 177, 255, 1);
    background-color: rgba(13, 177, 255, 1);
}

.font-weighted {
    font-weight: 700;
}

::ng-deep {
    .iti {
        border: none;
        width: 100%;
    }

    .iti__flag-container input {
        border: none !important;
    }

    .search-container {
        padding: 10px;
    }

    .country-dropdown {
        transform: translateY(10px);
        overflow-y: scroll;
        height: 300px
    }

    .country-dropdown {
        transform: translate(-70%, 0px) !important;
    }

    .iti--allow-dropdown .iti__flag-container {
        right: 0 !important;
        left: inherit !important;
    }

    .iti__country-list {
        overflow-y: hidden;
    }
}