// .my-tours{
//   width: 300px !important;
// }
.wishlist{
    margin-top: 150px;
    .wishlist-empty{
        padding-top: 150px;
        padding-bottom: 148px;
    }
    .whishlist-content{

        padding-top: 33px;
        padding-left: 10px;
        h3{
            color: #302C2C;
            font-family: Lato;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
            color: #67747C;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 16px;
            margin-bottom: 24px;
        }
        button{
            color: #FFF;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background-color: #068FD0;
            padding: 14px 24px;
            border: 1px solid #068FD0;
            transition: all 0.5s ease-in-out;
            &:hover{
                cursor: pointer;
                transform: translateX(5px);
                color: #068FD0;
                background-color: #FFF;
                border-color: #068FD0;
            }
        }
    }
    .wishlist-notempty{
        padding-top: 35px;
        h4{
            color: #302C2C;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        button{
            color: #297CBB;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 202px;
            height: 52px;
            border-radius: 4px;
            border: 1px solid #297CBB;
            background-color: #FFF;
            transition: all 0.5s ease-in-out;
            &:hover{
                background-color: #068FD0;
                color: #fff;
            }
        }
    }
    .whishlist-card-content{
        margin-top:60px;
        padding-bottom: 200px;
    }
    .whishlist-card{
        margin-bottom: 26px;
        padding-top: 26px;
        padding-right: 22px;
        padding-left: 32px;
        background: #FFF;
        padding-bottom: 19px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 30%;
        h5{
            color: #302C2C;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 7px;
            margin-top: 14px;
        }
        span{
            color: #302C2C;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        img{
            height: auto;
            width: 100%;
        }
        .img-container{
            div{
                width: 188px;
                /*height: 175.716px;*/
            }
        }
    }
}
// .p-carousel .p-carousel-indicators {
//   padding: 0 !important;
//   display: none !important;
// }
.modal{
    .modal-body,.modal-header{
        border:0 ;
        box-shadow: 0;
      margin-bottom: 0;
    }
    .modal-title{
        color: #000;
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 26px;
    }
    .modal-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-top: 0;
        button{
            color: #FFF;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background-color: #0DB1FF;
            width: 202px;
            height: 48px;
            border:1px solid #068FD0;
            transition: all 0.5s ease-in-out;
            &:hover{
                background-color: #FFF;
                color: #068FD0;
                cursor: pointer;
            }
        }
    }
}
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; /* Add padding as needed */
  }

  /* Customize the carousel width for one item */
  :host ::ng-deep .p-carousel {
    width: auto; /* Set to 'auto' instead of '100%' */
  }

  /* If the number of items is one */
  :host ::ng-deep .p-carousel .p-carousel-item {
    width: 400px;
    margin: 0 auto;
}

:host ::ng-deep .p-carousel .p-carousel-items .p-carousel-item:nth-child(1):nth-last-child(2),
:host ::ng-deep .p-carousel .p-carousel-items .p-carousel-item:nth-child(2):nth-last-child(1) {
    width: 400px ;
}

.single-item {
  display: inline-block;
    width: auto !important; /* Adjust width for single item */
}


  .multiple-items {
    width: 100% !important; /* Full width for multiple items */
  }
/***********************************/
@media screen and (max-width: 575.98px){
    .wishlist{
        .whishlist-card{
            width: 98%;
        }
        .wishlist-notempty{
            button{
                font-size: 16px;
                width: fit-content;
                padding: 10px ;
            }

        }
        .whishlist-content{
            h3{
                font-size: 28px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}
@media screen and (min-width:576px) and (max-width: 768px){
    .wishlist{
        .whishlist-card{
            width: 50%;
        }
    }
}
@media screen and (max-width: 992px){
    .wishlist{
        margin-top: 10px;
        .wishlist-notempty{
            .whishlist-card-content{
                margin-top: 30px;
                padding-bottom: 120px;
            }
        }
        .wishlist-empty{
            padding-top: 70px;
        }
    }
}

@media screen and (min-width: 992.9px) and (max-width:1200.9px){
    .wishlist{
        margin-top: 10px;
        .wishlist-notempty{
            .whishlist-card-content{
                margin-top: 30px;
                padding-bottom: 120px;
            }
        }
        .wishlist-empty{
            padding-top: 150px;
        }
    }
}
