.bg-img-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0; /* يبدأ بشكل غير مرئي */
  transition: opacity 1s ease-in-out; /* تأثير التلاشي */
}

.bg-img-hero.active::before {
  opacity: 1; /* يصبح مرئيًا عند إضافة الكلاس active */
}
#content {
  margin-top: 100px;
}
.custom-select-wrapper {
  position: relative;
}
.btnReview,
.check {
  background-color: #0db1ff;
  transition: all 0.5s ease-in-out;
}
.btnReview:hover {
  opacity: 0.8;
  transform: translateY(3px);
  cursor: pointer;
}
.custom-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.form-control {
  padding-left: 26px; /* Adjust padding to make space for the placeholder */
}

.caption h1 {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}

.caption p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.025em;
  color: rgba(255, 255, 255, 1);
}

.list-search {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(103, 116, 124, 1);
}

h4 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  color: rgba(37, 37, 37, 1);
}

p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(86, 86, 86, 1);
}

h3 {
  font-family: Lato;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 68, 79, 1);
}
.activity {
  .image {
    margin: 0 auto;
    background-image: url("../../../../../../assets/custom/Activity/freeVector.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 98.426px;
    height: 102px;
  }
}
.layer {
  position: absolute;
  bottom: 0;
  background: rgba(217, 217, 217, 0.82);
  width: 100%;
  border-radius: 10px;
}
.layer-img {
  img {
    width: 100%;
    height: 334px !important;
    border-radius: 10px;
  }
}

.layer p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(63, 66, 84, 1);
  padding: 10px;
  padding-bottom: 3px;
}

li {

  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: rgba(103, 116, 124, 1);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h5 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.025em;
  color: rgba(255, 255, 255, 1);
}
.reviews {
  margin-top: 80px;
  // background-image: url(../../../../../../assets/custom/Activity/transfer-bg.png);
  background-position: center center;
  background-size: cover;
  height: 466px;
}
.faq {
  font-family: Lato;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 68, 79, 1);
}
.top-tap {
  position: absolute;
  bottom: -4%;
  left: 5%;
}
.layer-card {
  background: rgba(255, 255, 255, 0.47);
  border: 1px solid rgba(83, 146, 249, 1);
  padding: 20px;
  height: 144px;
  align-self: flex-start;
  width: 100%;
}
.small-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-top: 15px;
  gap: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  li {
    color: #67747c !important;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    &.active {
      color: #008ccf !important;
      &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 50%;
        width: 10%;
        height: 10px;
        border-radius: 50%;
        display: block;
        background-color: #008ccf;
      }
    }
  }
}
.layer-card h6 {
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 68, 79, 1);
}

.layer-card span {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(33 97 201);
}

.layer-card p {
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(71, 71, 71, 1);
  padding: 10px 0;
}

#review h5 {
  font-family: Lato;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #3b444f;
}

/*button {
    background-color: rgba(13, 177, 255, 1);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

}

button:hover {
    background-color: rgba(13, 177, 255, 1);
}*/
/*************New edits************************/
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10px;
  color: red;
}
input[type="date"] {
  padding: 0 15px;
  padding-left: 45px;
}
.input-label {
  position: relative;
  input {
    padding-left: 40px;
  }
  label {
    position: absolute;
    left: 26px;
    top: 18px;
    z-index: 2;
    color: #d9d9d9;
  }
}
.input-label-1 {
  position: relative;

  label {
    position: absolute;
    left: 31px;
    bottom: 11px;
    z-index: 2;
    color: #d9d9d9;
  }
}
input[type="date"] {
  color: #d9d9d9 !important;
  font-size: 14px !important;
}

label,
::placeholder {
  text-transform: capitalize;
  color: #d9d9d9;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.input-border {
  border: 2px solid #e4e4e4;
  border-radius: 5px !important;
}
.persons {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding-bottom: 5px;
  width: 172px;
  height: 52px;
  margin-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 23px;
    flex-shrink: 0;
    border: 1px solid transparent;
    background-color: #008ccf;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }
}

.tab-shadow {
  border-top-left-radius: 0;
}
.submit {
  background-color: rgba(13, 177, 255, 1);
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  line-height: normal;
  border: 1px solid transparent;
  width: 109px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  color: #fff !important;

  &:hover {
    cursor: pointer;
    transform: translateY(3px);
  }
}
.btn-content {
  margin-bottom: 13px;
}
.nav {
  li {
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 25px 18px;
    cursor: pointer;
    text-transform: capitalize;
    &.active {
      color: var(--d-9-d-9-d-9, #000);
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      border-radius: 5px 5px 0px 0px;
      background: #fff;
    }
  }
}

/*********************************************/
@media screen and (max-width: 993px) {
  .top-tap {
    position: relative;
  }
}
@media screen and (max-width: 1200px) {
  #content {
    margin-top: 0px;
  }
}
