section {
    margin-top: 45px;
    border-radius: 12px;
    background: var(--Base-White, #FFF);
    padding-right: 35px;
    padding-left: 45px;
    margin-bottom: 120px;
}

.table-content {
    header {
       height: max-content;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        border-bottom: 1px solid #EFF2F5;
        h5 {
            color: #3F4254;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .tabs {
            display: flex;
            gap: 28px;
        }

        .tab {
            color: #B5B5C3;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
            transition: color 0.5s ease-in-out;
            padding-bottom: 17px;
            &:hover{
                color: #00A3FF;
            }
        }

        .tab.active {
            color: #3F4254;
            border-bottom: 1px solid #00A3FF;
        }
    }
    .table{
        margin-top : -10px;
        th{
            border-top: none;
            padding-bottom: 20px;
            color: #3F4254;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px; /* 131.25% */
        }
        td{
            color: #7E8299;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px; /* 131.25% */
            padding-top: 20px;
            padding-bottom: 20px;
            &:last-of-type{
                text-align: right;
            }
            button{
                display: inline-flex;
                padding: 10px 16px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 6px;
                background: #F5F8FA;
                color: #A1A5B7;
                text-align: center;
                font-family: Roboto;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border: 1px solid transparent;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                &:hover{
                    background-color: #00A3FF;
                    color: #fff;
                }
            }
        }
        td.info-date{
            color: #00A3FF;
        }
    }
}

/******************************/
@media screen and (max-width : 768px) {
    section {
        margin-top: 45px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 50px;
    }
}