<section class="table-content">
  <header class="flex-wrap">
    <div>
      <h5>Billing History</h5>
    </div>

    <!-- <div class="tabs">
      <div
        class="tab"
        (click)="setFilter('6months')"
        [class.active]="activeTab === '6months'"
      >
        6 Months
      </div>
      <div
        class="tab"
        (click)="setFilter('1year')"
        [class.active]="activeTab === '1year'"
      >
        1 Year
      </div>
      <div
        class="tab"
        (click)="setFilter('4months')"
        [class.active]="activeTab === '4months'"
      >
        All Time
      </div>
    </div> -->
  </header>

  <hr />

  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Invoice</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let billing of billings?.data">
          <td>{{ billing?.time }}</td>
          <td class="info-date">{{ billing?.status }}</td>
          <td>{{ billing?.price.toFixed(2) }} $</td>
          <td>{{ billing?.type }}</td>
          <td>
            <button>View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
