h4 {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
  padding-top: 30px;
}

.mobile-btn {
  button {
    width: 100% !important;
    margin-bottom: 5%;
  }
}


.place-card {
  margin-top: 37px;
  margin-bottom: 37px;
  flex-direction: column;
  .first-place {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    box-shadow: 1px 1px 12px 6px #c7d3dc;
    border-radius: 5px;

    .img {
      img {
        width: 100%;
        height: auto;
      }
    }
    .img-content {
      margin-left: 0px;
      div:nth-of-type(2) {
        span:nth-of-type(1) {
          color: #ff681a;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width: 97px;
          height: 30px;
          flex-shrink: 0;
          border-radius: 18px;
          position: absolute;
          background-color: #fff;
          top: 20px;
          left: 7px;
        }
        span:nth-of-type(2) {
          position: absolute;
          top: 20px;
          right: 7px;
          cursor: pointer;
          &:hover {
            svg {
              path {
                fill: #ff681a;
              }
            }
          }
        }
      }
    }
    .trip {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: 20px;
      padding: 10px;
      flex: 1;
      h5 {
        color: #3b444f;
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .place-name {
        display: inline-block;
        margin-left: 6px;
        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .trip-rating {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 264px;
        div:nth-of-type(2) {
          flex: 1;
          align-self: flex-end;
        }
        p {
          color: #67747c;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          b {
            color: #000;
          }
        }

        button {
          text-transform: capitalize;
          &:nth-of-type(1) {
            color: var(--Main-Title, #0db1ff);
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: 1px solid transparent;
            background-color: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            padding: 5px 15px;
            background-color: none;
          }
          &:nth-of-type(2) {
            color: var(--Main-Title, #fff);
            background-color: #ec0000;
            padding: 5px 15px;
            border: 1px solid #ec0000;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 112px;
          }
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: translateY(2px);
            opacity: 0.8;
          }
        }
      }
    }
  }
}
.nav {
  border-bottom: 1px solid #eff2f5;
  gap: 23px;
  li {
    color: #b5b5c3;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 15px;
    cursor: pointer;
    &.active {
      color: var(--Main-Title, #0db1ff);
      border-bottom: 1px solid #0db1ff;
    }
  }
}
.timing {
  margin-top: 15px;
  li {
    margin-bottom: 12px;
  }
  span:nth-of-type(1) {
    img {
      width: 25px;
      height: 25px;
    }
  }
  span:nth-of-type(2) {
    color: #3b444f;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
  }
}
/****************************************/
.book-with-us {
  border: 1px solid #e4e4e4;
  padding-top: 26px;
  padding-bottom: 33px;
  padding-left: 29px;
  margin-top: 37px;
  h6 {
    color: #3b444f;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  ul {
    list-style: none;
    margin-top: 29px;
    margin-left: 0;
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
      gap: 14px;
      span {
        display: inline-block;
      }

      color: #67747c;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 32px;
    }
  }
}

.city {
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border-top: 0;
}
/**********************/
.modal.step1 {
  p {
    color: #000;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 37px;
    text-align: center;
  }
  .modal-footer {
    justify-content: center;
    button {
      padding: 6px 27px;
      color: #fff;
      &:nth-of-type(1) {
        background: #0db1ff;
        border: 1px solid #0db1ff;
      }
      &:nth-of-type(2) {
        background: #ec0000;
        border: 1px solid #ec0000;
      }
    }
  }
}
/********************************/
.modal.step2 {
  header {
    p {
      color: #000;
      font-family: Lato;
      font-size: clamp(18px, 20px, 24px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 11px;
    }
    span {
      color: #000;
      font-family: Lato;
      font-size: clamp(16px, 18px, 22px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  form {
    margin-top: 35px;
    .form-check {
      margin-bottom: 15px;
      label {
        margin-left: 10px;
      }
    }
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: translateY(5px);
      }
      &:nth-of-type(1) {
        color: var(--Main-Title, #0db1ff);
        background-color: #fff;
        border: 1px solid transparent;
      }
      &:nth-of-type(2) {
        color: #fff;
        background-color: #0db1ff;
        border: 1px solid transparent;
      }
      padding: 6px;
      font-family: Lato;
      font-size: clamp(13px, 16px, 20px);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
#exampleModal2 {
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    span {
      svg {
        width: 107px;
        height: 107px;
      }
    }
    h2 {
      color: #000;
      font-family: Lato;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      color: #000;
      font-family: Lato;
      font-size: clamp(16px, 21px, 28px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
.modal-body {
  padding: 20px;
}
// #flexCheckChecked {
//   width: 23px;
//   height: 24px;
// }
#flexCheckChecked:checked {
  background-color: #0db1ff;
  box-shadow: none;
}
/***************************************************/
@media screen and (max-width: 576px) {

  .place-card {
    flex-direction: column;
    gap: 30px;
    .first-place {
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      width: 80%;
      margin: 5px auto;
      .trip {
        margin-left: 18px;
        padding: 6px;
        .trip-rating {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          gap: 20px;
        }
      }
      .img img {
        width: 100%;
      }
    }
    .img-content div:nth-of-type(2) span:nth-of-type(2) {
      position: absolute;
      top: 20px;
      right: -21%;
    }
  }
}
@media screen and (max-width: 768px) {
  .nav {
    gap: 13px;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .timing {
    span:nth-of-type(2) {
      font-size: 14px;
    }
  }

}
@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 576.9px) and (max-width: 768px) {

  .place-card {
    flex-direction: row;
    gap: 30px;
    .first-place {
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      width: 100%;
    }
  }
  .city {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {

  .place-card {
    .first-place .trip {
      flex-direction: column;
      .trip-rating {
        flex-direction: row;
        height: auto;
        align-items: center;
        gap: 37px;
      }
    }
  }
  .book-with-us {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .place-card {
    .first-place .trip {
      flex-direction: column;
      .trip-rating {
        height: auto;
      }
    }
  }
}
