.payment{
    padding-top:22px;
    padding-bottom: 29px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 90px;
  
    .payment-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .payment-method-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EFF2F5;
        h2{
            color: #3F4254;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-bottom: 17px;
        }
        ul {
            display: flex;
            gap: 27px;
            li{
                color: #B5B5C3;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding-bottom: 24px;
                margin-bottom: -6px;
                &:hover{
                    cursor: pointer;
                }
                &.active{
                    color: #3F4254;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    border-bottom: 1px solid #00A3FF;
                }
            }
        }
    }

}
.payment-card{
    border-radius: 6px;
    border: 1px dashed #E4E6EF;
    background: var(--Base-White, #FFF);
    padding-top: 27px;
    padding-right: 31px;
    padding-bottom: 31px;
    padding-left: 31px;
    &:nth-of-type(2){
        margin-top: 30px;
        margin-bottom: 30px;
    }
    p{
        span:nth-of-type(1){
            color: #3F4254;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 122.222% */
            margin-left: 12px;
        }
        span:nth-of-type(2){
            color: #50CD89;
            text-align: center;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: inline-flex;
            padding: 6px 11.5px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 6px;
            background: #E8FFF3;
        }
    }
    .card-icon{
        span{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 15px 12px;
            padding-bottom: 17px;
            height: max-content;
            border-radius: 6px;
            background: #F6F8FA;
        }
    }
    .visa{
        h4{
            color: #3F4254;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 137.5% */
            margin-bottom: 0;
            padding-bottom: 0;
        }
        span{
            color: #B5B5C3;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 157.143% */
        }
    }
}
.actions{
    button{
        display: inline-flex;
        padding: 11px 18px;
        align-items: flex-start;
        gap: 10px;
        color: #A1A5B7;
        text-align: center;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border : 1px solid transparent;
        transition: all 0.5s ease-in-out;
      
    }
    button:nth-of-type(1){
        border-radius: 6px;
        background: #F5F8FA;
    }
    button:nth-of-type(2){
        border-radius: 6px;
        background: transparent;
    }
    button:nth-of-type(2),button:nth-of-type(1){
        &:hover,&:focus{
            cursor: pointer;
            background-color: #00A3FF;
            color: #FFF;
        }
    }
}
.active-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    p{
        color: #7E8299;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 8px;
        padding-top: 0;
        span{
            color: #3F4254;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    span.strong{
        color: #7E8299;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .action-buttons{

        button{
            text-align: center;
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            line-height: normal;
            display: inline-flex;
            padding: 12px 20px;
            align-items: flex-start;        
            gap: 10px;
            border-radius: 6px;
            border : 1px solid transparent;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
        }
        button:nth-of-type(2){
            color: var(--Base-White, #FFF); 
            font-weight: 500;
            background: #00A3FF;
           &:hover{
            background-color: transparent;
            border: 1px solid #00A3FF;
            color: #00A3FF;
            transform: translateY(5px);
           }
        }
        button:nth-of-type(1){
            color: #7E8299;
            font-weight: 500;
            background: #F5F8FA;
            margin-right: 10px;
            &:hover{
                background-color: transparent;
                border: 1px solid #00A3FF;
                color: #00A3FF;
                transform: translateY(5px);
            }
        }
    }
}

/***************************/
@media screen and (max-width: 768px){
    .payment{
        padding-right: 0;
        padding-left: 0;
        .payment-container{
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    .payment-card{
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 17px;
        padding-left: 12px;
    }
    .action-buttons{
        margin-top: 15px;
    }
}