<div class="card">
  <div class="row d-flex" style="height: auto">
    <div class="col-md-4 d-flex flex-column">
      <div class="position-relative w-100">
        <a
          [routerLink]="[
            '/',
            translate.currentLang,
            'tours',
            'details',
            item?.id,
            item?.Title
          ]"
        >
          <img
            class="card-img-top"
            style="min-height: 230px"
            [src]="item?.cover"
            alt="img"
          />
        </a>
        <div class="position-absolute" style="top: 22px; left: 7px">
          <span
            class="badge badge-pill bg-white text-primary px-4"
            *ngIf="item?.Featured > 0"
            >Featured</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-8 p-5  pe-lg-1 pt-lg-0">
      <div  class="d-flex justify-content-between pe-3 pt-3">
        <h5 class="card-heading">{{ item?.Title }}</h5>
        <i #btn
        (click)="addtoFavorits(btn,$event)"
          class="fa-regular fa-heart text-dark"></i>
      </div>
      <div class="d-flex justify-content-between pe-3 card-title">
        <p>{{ item?.type }}</p>
        <p>
          <span
          >{{ item?.discount }} %</span
          >
          <!-- [style.text-decoration]="item?.discount > 0 ? 'line-through' : ''"
          [style.color]="item.discount > 0 ? 'red' : ''" -->
          <!-- <span class="mx-2"  *ngIf="item?.discount > 0" style="font-size: 15px; font-weight: 700"
            >{{
              item?.PriceColectiv - (item?.discount / 100) * item?.PriceColectiv
            }}
            $</span
          >
          <span style="font-size: 15px !important;">per person</span>        </p> -->
      </div>
      <small class="pe-2 card-desc">
        <span>{{ item?.shortOverviwe?.substr(0, 100) }} </span
        ><span
          style="color: #0057ff; cursor: pointer"
          class="mx-2"
          (click)="readMore = true"
          *ngIf="item?.shortOverviwe?.length > 100 && !readMore"
          >see more</span
        >

        <span *ngIf="item?.shortOverviwe?.length > 100 && readMore">{{
          item?.shortOverviwe?.substr(100, item?.shortOverviwe?.length)
        }}</span>
        <span
          style="color: #0057ff; cursor: pointer"
          class="mx-2"
          (click)="readMore = false"
          *ngIf="item?.shortOverviwe?.length > 100 && readMore"
          >see less</span
        >
      </small>
      <span class="stars d-block pe-3">
        <i
          *ngFor="let star of [1, 2, 3, 4, 5]"
          class="fa-solid fa-star"
          style="color: #bfbfbf"
          [ngClass]="{
            'fa-star-filled': star <= item?.rate,
            'yellow-star': star <= item?.rate
          }"
        ></i>
        {{ item.Review }} Reviews
      </span>

      <div class="d-flex justify-content-between align-items-center">
        <div class="icons mt-4">
          <small class="pe-3">
            <i class="fa-solid fa-location-dot pe-2"></i>
            {{ item?.place }}
          </small>
          <small
            ><i class="fa-solid fa-clock pe-2"></i>{{ item?.duration }}
            {{ item?.durationType }}
          </small>
        </div>
        <div class="btns">
          <a
            [routerLink]="[
              '/',
              translate.currentLang,
              'tours',
              'details',
              item?.id,
            item?.Title
            ]"
            title="details"
            ><button class="btn me-2">View Details</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
