<form (ngSubmit)="nextStep()">
  <div class="step3">

      <div class="heading">
        <img src="../../../../../../assets/images/images(1)1.png">
        <span class="ms-1">
          Guaranteed safe & secure checkout
        </span>
      </div>

      <section class="row align-items-center justify-content-between">    
        <div class="col-lg-6">
          
          <div class="payment" [class.active]="selected">
            <div class="check">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
              <path d="M13.8002 0.189575C13.6706 0.0689551 13.5002 0.00195312 13.3232 0.00195312C13.1462 0.00195312 12.9757 0.0689551 12.8462 0.189575L4.75919 7.92761L1.65118 4.95361C1.52158 4.83271 1.35092 4.7655 1.17368 4.7655C0.996429 4.7655 0.825804 4.83271 0.696198 4.95361C0.633805 5.01216 0.584074 5.08286 0.550079 5.16138C0.516085 5.23989 0.498535 5.3246 0.498535 5.41016C0.498535 5.49572 0.516085 5.5803 0.550079 5.65881C0.584074 5.73733 0.633805 5.80803 0.696198 5.86658L4.2822 9.29761C4.4118 9.41852 4.58243 9.48572 4.75967 9.48572C4.93692 9.48572 5.10758 9.41852 5.23718 9.29761L13.8012 1.10266C13.8635 1.04405 13.9132 0.973206 13.9471 0.894653C13.981 0.8161 13.9984 0.731433 13.9983 0.645874C13.9982 0.560315 13.9806 0.475695 13.9465 0.397217C13.9125 0.318738 13.8626 0.248052 13.8002 0.189575Z" fill="white"/>
            </svg>
          </div>
           <div class="img-container">
            <img src="../../../../../../assets/images/img4.png">
            <img src="../../../../../../assets/images/img7.png">
            <img src="../../../../../../assets/images/img6.png">
            <img src="../../../../../../assets/images/img5.png">
           </div>
            <p>Payment with credit card</p>
          </div>
        </div>  
        
        <div class="col-lg-6">  
          <div class="payment" [class.active1]="selected">
            <div class="check">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                <path d="M13.8002 0.189575C13.6706 0.0689551 13.5002 0.00195312 13.3232 0.00195312C13.1462 0.00195312 12.9757 0.0689551 12.8462 0.189575L4.75919 7.92761L1.65118 4.95361C1.52158 4.83271 1.35092 4.7655 1.17368 4.7655C0.996429 4.7655 0.825804 4.83271 0.696198 4.95361C0.633805 5.01216 0.584074 5.08286 0.550079 5.16138C0.516085 5.23989 0.498535 5.3246 0.498535 5.41016C0.498535 5.49572 0.516085 5.5803 0.550079 5.65881C0.584074 5.73733 0.633805 5.80803 0.696198 5.86658L4.2822 9.29761C4.4118 9.41852 4.58243 9.48572 4.75967 9.48572C4.93692 9.48572 5.10758 9.41852 5.23718 9.29761L13.8012 1.10266C13.8635 1.04405 13.9132 0.973206 13.9471 0.894653C13.981 0.8161 13.9984 0.731433 13.9983 0.645874C13.9982 0.560315 13.9806 0.475695 13.9465 0.397217C13.9125 0.318738 13.8626 0.248052 13.8002 0.189575Z" fill="white"/>
              </svg>
            </div>
            <img src="../../../../../../assets/images/Frame.svg">
            <p>Book now pay later</p>
          </div>
        </div>
      </section>
      <!--------Bottom Form---------------------->
      
      <div class="form">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Card Holder Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Card Number</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Expiry Mounth</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Expiry Year</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">CVC</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              By continuing, you agree to the <a>Terms and Conditions</a>.
            </label>
          </div>
        </div>
      </div>
 
  </div>
       <!------------------------------------>
       <div class="btn-1">
        <button class="text-uppercase" type="submit">
          CONFIRM BOOKING
        </button>
      </div>
  <!--<button type="button" (click)="previousStep()">Previous</button>-->
  <!--<button type="submit">Next</button>-->
</form>