<!-- <div class="custom-logo-spinner">
  <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#0DB1FF" type="square-jelly-box" [fullScreen]="true">
    <img src="assets/images/logo.webp" alt="Website Logo" class="custom-logo">
    <p style="font-size: 20px; color: white !important">Loading...</p>
  </ngx-spinner>
</div> -->
<app-connectivity-notification></app-connectivity-notification>
<!-- <app-connectivity-notification></app-connectivity-notification> -->
<router-outlet></router-outlet>
<div
  style="
    text-align: start;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
  "
  class="px-4"
>
  <img
    (click)="contactWhatsapp()"
    class="transition-3d-hover"
    style="width: 15%; cursor: pointer"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WhatsApp_icon.png/479px-WhatsApp_icon.png"
  />
</div>

