<div class="container text-center space-1">
    <!-- Title -->
    <div class="title text-center mb-5" style="color: #004796;">
        <h3 class="mb-5">Why Book With Us?</h3>
    </div>
    <!-- End Title -->

    <!-- Features -->
    <div class="mb-2">
        <div class="row mt-5" *ngIf="!isMobile" >
            <!-- Icon Block -->
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="booking-card">
                    <img src="../../../../../../assets/images/Competitive Pricing.png" alt="Competitive" class="img-fluid">
                    <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Competitive Pricing</a></h5>
                    <p class="text-gray-1 px-xl-2 px-uw-7">With 500+ suppliers and the purchasing power of 300 million
                        members, mytravel.com can save you more!</p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="booking-card">
                <img src="../../../../../../assets/images/247 Expert customer support.png" alt="Service">
                <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Award-Winning Service</a></h5>
                <p class="text-gray-1 px-xl-2 px-uw-7">Travel worry-free knowing that we're here if you needus, 24 hours
                    a day</p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="booking-card">
                <img src="../../../../../../assets/images/Diversity of Activities.png" alt="Worldwide">
                <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Worldwide Coverage</a></h5>
                <p class="text-gray-1 px-xl-2 px-uw-7">Over 1,200,000 hotels in more than 200 countries and regions
                    &amp; flights to over 5,000 cities</p>
                </div>
            </div>
            <!-- End Icon Block -->
        </div>

        <owl-carousel-o  *ngIf="isMobile" [options]="carouselOptions" class="d-lg-none booking-owl">
          <ng-template carouselSlide>
            <div class="booking-card">
              <img src="../../../../../../assets/images/Competitive Pricing.png" alt="Competitive" class="img-fluid">
              <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Competitive Pricing</a></h5>
              <p class="text-gray-1 px-xl-2 px-uw-7">With 500+ suppliers and the purchasing power of 300 million
                members, mytravel.com can save you more!</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="booking-card">
              <img src="../../../../../../assets/images/247 Expert customer support.png" alt="Service">
              <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Award-Winning Service</a></h5>
              <p class="text-gray-1 px-xl-2 px-uw-7">Travel worry-free knowing that we're here if you need us, 24 hours
                a day</p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="booking-card">
              <img src="../../../../../../assets/images/Diversity of Activities.png" alt="Worldwide">
              <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Worldwide Coverage</a></h5>
              <p class="text-gray-1 px-xl-2 px-uw-7">Over 1,200,000 hotels in more than 200 countries and regions
                &amp; flights to over 5,000 cities</p>
            </div>
          </ng-template>
        </owl-carousel-o>
    </div>
    <!-- End Features -->
</div>
