h2 {
  margin-top: 65px;
  color: #3b444f;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 49px;
}
.form-check-input{
  border-radius: 2px;
  border: 1px solid #b5b5c3;
  width: 34px;
  height: 30px;
}
.form-check {
  margin-bottom: 40px;

  label {
    color: #3b444f;
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  span,label{
    text-transform: capitalize;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  div.label{
    margin-left: 23px;
  }
  div:nth-of-type(2) {
    margin-left: 23px;

    span:nth-of-type(1) {
      color: #3b444f;
      font-family: Lato;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    span:nth-of-type(2) {
      color: #3b444f;
      font-family: Lato;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 40px;
    gap: 20px;

    button {
        color: #FFF;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: var(--Main-Title, #0DB1FF);
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 178px;
        height: 60px;
        flex-shrink: 0;
        transition: all 0.5s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: translateY(3px);
        }

        &:nth-of-type(1) {
            color: #0DB1FF;
            border: 1px solid #0DB1FF;
            background-color: #fff;
        }

        &:nth-of-type(2) {
            color: #FFF;
            background: #0DB1FF;
            border: 1px solid #0DB1FF;
        }
    }
}

@media screen and (max-width:992px){
  .btns{
    flex-wrap: wrap;
    justify-content: center;
    button{
        font-size: 16px;
        width: 100px;
        justify-content: center;
    }
}
}