<form (ngSubmit)="nextStep()">
  <div>
    <h2>If you need more options please select it from list </h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
      <div class="label">
        <label class="form-check-label" for="flexCheckDefault1">
          SIM Card
        </label>
        <div class="d-flex gap-3 mt-1">
          <span>Size : 20 GB</span>
          <span> free</span>
        </div>
      </div>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
      <div class="label">
        <label class="form-check-label" for="flexCheckDefault1">
          SIM Card
        </label>
        <div class="d-flex gap-3 mt-1">
          <span>Size : 40 GB</span>
          <span> free</span>
        </div>
      </div>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
      <div class="label">
        <label class="form-check-label" for="flexCheckDefault1">
          SIM Card
        </label>
        <div class="d-flex gap-3 mt-1">
          <span>Size : 30 GB</span>
          <span> free</span>
        </div>
      </div>
    </div>
 
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
      <div class="label">
        <label class="form-check-label" for="flexCheckDefault1">
          Child Seat
        </label>
        <div class="d-flex gap-3 mt-1">
          <span> free</span>
        </div>
      </div>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
      <div class="label">
        <label class="form-check-label" for="flexCheckDefault1">
          Infant Seat
        </label>
        <div class="d-flex gap-3 mt-1">
          <span> free</span>
        </div>
      </div>
    </div>
  </div>

  <div class="btns">

  </div>
  <div class="btns">
    <button type="button" (click)="previousStep()">Cancel</button>
  <button type="submit">Continue</button>
  </div>
</form>