
.close {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(13, 177, 255, 1);
  color: #fff;
  margin: 0px;
  font-size: 25px;
  padding: 0px;
}

.modal-header {
  background: white;
}
.white {
  background-color: white !important;
}

::ng-deep {
  .cdk-overlay-pane {
    overflow: auto !important;
  }

  // Ensure Leaflet CSS is applied correctly
  .leaflet-container {
    height: 400px;
    width: 100%;
    z-index: 1;
  }

  .leaflet-control-container {
    z-index: 2;
  }
}

#googleMap {
  position: relative;
  height: 400px;
  width: 100%;
  z-index: 1;
}
