<section style="margin-top: 70px;
height: 406px;
margin-bottom: -73px;" class="reviews">

    <div class="container">
        <div class="title text-center " style="color: #004796;">
            <h3 class="mb-5">Our Customer’s Reviews </h3>
        </div>
        <section class="myDestination pt-5  ">
            <div class="my-destination-work">
                <owl-carousel-o [options]="customOptions" class="my-destination client-review">
                    <ng-template carouselSlide *ngFor="let item of data?.SocialReview">
                        <div class="card rounded-xs border-color-7 w-100">
                            <div class="card-body p-5">
                                <div class="row">
                                  <div class="col-8">
                                    <a [href]="item.link" target="_blank">
                                      <img class="rounded"  [src]="item.Reviwe" width="150px" height="150px" alt="">
                                    </a>
                                  </div>
                                  <div class="col-3">
                                    <img class="rounded-circle" [src]="item.from" style="width: 80px;height: 80px; float: inline-end;" alt="">
                                  </div>

                                </div>

                            </div>
                            <!-- <div class="card-img z-index-2 mb-3">
                                <div class="ml-3">
                                  <img
                                  class="img-fluid rounded-circle"
                                  (onError)="onImgError($event)"
                                  [src]="item.Avatar"
                                  [alt]="getImageName(item.Avatar)"
                                  loading="lazy"
                                >

                                </div>
                            </div> -->
                        </div>
                    </ng-template>

                </owl-carousel-o>
            </div>
        </section>
    </div>

</section>
