<app-header [background]="'#0DB1FF'"></app-header>
<ng-container *ngIf="confirmRequest">
    <div class="container content">
        <div class="row">
            <div class="col-10 m-auto">
                <div class="py-3 px-4 px-xl-12 border-bottom">
                    <ul
                        class="list-group flex-nowrap overflow-auto overflow-md-visble list-group-horizontal list-group-borderless flex-center-between pt-1">
                        <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                            <div
                                class="flex-content-center mb-3 width-40 height-40 border  border-width-2 border-gray mx-auto rounded-circle">
                                1
                            </div>
                            <div class="text-gray-1">Select Cabin</div>
                        </li>
                        <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                            <div
                                class="flex-content-center mb-3 width-40 height-40 border  border-width-2 border-gray mx-auto rounded-circle">
                                2
                            </div>
                            <div class="text-gray-1">Customer information</div>
                        </li>
                        <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                            <div
                                class="flex-content-center mb-3 width-40 height-40  border-width-2 border border-gray  mx-auto rounded-circle">
                                3
                            </div>
                            <div class=" text-gray-1">Payment information</div>
                        </li>
                        <li class="list-group-item text-center flex-shrink-0 flex-md-shrink-1">
                            <div
                                class="flex-content-center mb-3 width-40 height-40 border  bg-primary border-width-2 border-primary text-white mx-auto rounded-circle">
                                4
                            </div>
                            <div class="text-primary">Booking confirmation</div>
                        </li>
                    </ul>
                </div>
                <div class="mb-5  bg-white rounded-sm"
                    style=" margin: 30px auto !important;">
                    <div class="py-6 px-5 border-bottom d-flex justify-content-center"
                        style="background: rgba(235, 240, 247, 1);                ">
                        <div class="flex-horizontal-center  flex-column flex-sm-row ">
                            <div class="height-50 width-50 flex-shrink-0 flex-content-center bg-primary rounded-circle">
                                <i class="fa-solid fa-check text-white font-size-24"></i>
                            </div>
                            <div class="ml-3">
                                <h3 >
                                    Thank you for choosing Marsa Waves Great News ! we have sent your confirmation to <a
                                        [href]="'mailto:'+confirmRequest['E-mail']"
                                        style="font-family: Lato;font-size: 21px;font-weight: 700;line-height: 25px;letter-spacing: 0em;color: rgba(54, 153, 255, 1);">
                                        {{confirmRequest["E-mail"]}}<br></a>
                                    Expect a follow up email or what’s app message shortly with your scheduled pick up
                                    time from your location
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mb-5  bg-white rounded-sm"
                    style=" margin: 30px auto !important;box-shadow: 0.5px 0.8659999966621399px 4px 0px rgba(27, 32, 50, 0.08);">
                    <div class="pt-4 pb-3 px-5 ">
                        <div class="d-flex justify-content-between">
                            <h5 id="scroll-description" class="font-size-21 font-weight-bold text-dark mb-2">
                                Traveler Information
                            </h5>
                            <!-- <a routerLink="/home/tours/payment" class="text-decoration-underline">Edit</a> -->
                            <!-- <a class="text-decoration-underline">Edit</a> -->

                        </div>
                        <!-- Fact List -->
                        <ul class="list-unstyled font-size-1 mb-0 font-size-16">
                            <li class="d-flex justify-content-between py-2">
                                <span class="font-weight-medium">Booking number</span>
                                <span class="text-secondary text-right">{{confirmRequest?.Bookingnumber}}</span>
                            </li>

                            <li class="d-flex justify-content-between py-2">
                                <span class="font-weight-medium">Name</span>
                                <span class="text-secondary text-right">{{confirmRequest?.name}}</span>
                            </li>

                            <li class="d-flex justify-content-between py-2">
                                <span class="font-weight-medium">E-mail address</span>
                                <span class="text-secondary text-right">{{confirmRequest["E-mail"]}}</span>
                            </li>

                            <li class="d-flex justify-content-between py-2">
                                <span class="font-weight-medium">Phone Number</span>
                                <span class="text-secondary text-right">{{confirmRequest?.Phone}}</span>
                            </li>
                        </ul>
                        <!-- End Fact List -->
                    </div>
                    <div class="pt-4 pb-3 px-5 " [innerHTML]="confirmRequest?.Bookinginstraction">
                        <!-- <div class="d-flex justify-content-between">
                            <h5 id="scroll-description" class="font-size-21 font-weight-bold text-dark mb-3">
                                Payment
                            </h5>
                            <a class="text-decoration-underline">Edit</a>
                            <a href="/home/tours/payment" class="text-decoration-underline">Edit</a>

                        </div>
                        <p >
                            Praesent dolor lectus, rutrum sit amet risus vitae, imperdiet cursus neque. Nulla tempor nec
                            lorem eu suscipit. Donec dignissim lectus a nunc molestie consectetur. Nulla eu urna in nisi
                            adipiscing placerat. Nam vel scelerisque magna. Donec justo urna, posuere ut dictum quis.
                        </p>

                    </div>
                    <div class="pt-4 px-5">
                        <h5 id="scroll-description" class="font-size-21 font-weight-bold text-dark mb-3">
                            View Booking Details
                        </h5>
                        <p >
                            Praesent dolor lectus, rutrum sit amet risus vitae, imperdiet cursus neque. Nulla tempor nec
                            lorem eu suscipit. Donec dignissim lectus a nunc molestie consectetur. Nulla eu urna in nisi
                            adipiscing placerat. Nam vel scelerisque magna. Donec justo urna, posuere ut dictum quis.
                        </p> -->
                    </div>
                </div>
                <ng-container *ngIf="showRelated">
                    <div class="my-tours-work" >
                        <h5 class="text-center mb-5 head">You might also like</h5>
    
                        <owl-carousel-o [options]="customOptions" class="my-tours">
                            <ng-container *ngFor="let item of relatedtrips">
                                <ng-template carouselSlide>
                                    <app-activity-card [item]="item"></app-activity-card>
                                </ng-template>
                            </ng-container>
    
                            <ng-container *ngFor="let item of relatedtrips">
                                <ng-template carouselSlide>
                                    <app-activity-card [item]="item"></app-activity-card>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>