<section>
  <div class="container text-center">
    <div class="res row">
      <div class="col-md-6">
        <img
          class="home"
          src="assets/images/Home.webp"
          alt="home"
          loading="lazy"
        />
      </div>

      <div class="col-md-6 apps-container">
        <div class="content">
          <h3>Get Marsa Waves App</h3>
          <p>
            Use code : {{ details?.[0].code }} to get {{ details?.[0].amount }}%
            off
          </p>
        </div>

        <div class="mobile">
          <!--<div class="qr-bg"> 
                    <img src="assets/images/qr.webp" class="qr mb-3"  alt="qr">
                </div>-->

          <div class="d-flex align-items-center flex-column gap-3">
            <img
              src="../../../../../../assets/images/appStore.webp"
              class="appstore"
              alt="app Store"
              loading="lazy"
            />
            <img
              src="assets/images/googleplay.svg"
              alt="googleplay"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
