.car-data{
    padding-top: 60px;
    border: 1px solid #EBF0F7;
    padding: 29px;
    .col-text{
        color: #3B444F;
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }
    .col-detail{
        margin-bottom: 20px;
        text-align: right;
        span{
            color: #67747C;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        a{
            color: #297CBB;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .row:nth-of-type(3){
        border-top: 1px solid #EBF0F7;
    }
    .row{
        .person{
            color: #3B444F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .age{
            color: #3B444F;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .num{
            color: #67747C;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .visitors{
        margin-top:10px;
    }
    .bottom-line{
     border-bottom: 1px solid #EBF0F7;
    }
}
.copoun{
    padding-bottom: 40px;
    margin-top: 30px;
    h3{
        color: #3B444F;
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 36px;
    }
    input{
        flex:1;
        height: 39px;
        flex-shrink: 0;
        padding: 10px;
    }
    span{
        background-color: #0DB1FF;
        width: 80px;
        height: 40px;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
.payment{
    h3{
        color: #3B444F;
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
    }
}
.total{
    span{
        color: #3B444F;
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.img-container{
    padding-bottom: 33px;
    margin-bottom: 30px;
    border-bottom: 1px solid  #EBF0F7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}