<div class="featured-heading">
    <h3>You might also like..</h3>
   <div class="line"></div>
</div>
<owl-carousel-o [options]="customOptions" class="my-destination">
    <ng-template carouselSlide>
        <app-featured-card></app-featured-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-featured-card></app-featured-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-featured-card></app-featured-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-featured-card></app-featured-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-featured-card></app-featured-card>
    </ng-template>
</owl-carousel-o>