// Define common styles
$font-lato: Lato;
$color-primary: rgba(41, 124, 187, 1);
$color-secondary: rgba(103, 116, 124, 1);
$color-heading: #3B444F;
$color-highlight: #297CBB;
$color-warning: #FF681A;

// Common styles for text elements
@mixin text-styles {
  font-family: $font-lato;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0em;
}

// Common styles for headings
@mixin heading-styles {
  @include text-styles;
  font-weight: 700;
}

// Define styles for specific elements
h5, h3 {
  @include heading-styles;
  font-size: 21px;
}

a {
  @include text-styles;
  font-size: 14px;
  color: $color-primary;
}

li span, p {
  @include text-styles;
  font-size: 16px;
  color: $color-secondary;
}

h3 {
  text-align: center;
  color: $color-primary;
}

.my-tours-work {
  h5 {
    @include heading-styles;
    font-size: 30px;
    color: $color-heading;
    position: relative;

    &::after {
      content: '';
      width: 40px;
      height: 2px;
      background-color: $color-highlight;
      position: absolute;
      bottom: -6px;
      left: 40%;
    }
  }
}

.payment {
  width: auto;
  padding: 10px 15px;
  border: 1px solid rgba(13, 177, 255, 1);
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(13, 177, 255, 1);
  background-color: rgba(13, 177, 255, 1);
  border-radius: 10px;
}

.content{
  margin-top: 150px;
}
.fa-star {
  color: #C6C7C6;
  font-size: 15px;
}

.btnReview {
  background-color: #0DB1FF;
}

.card-body {
  h6, h5 {
    @include heading-styles;
    color: $color-highlight;
    font-size: 17px;
  }

  .review {
    @include text-styles;
    font-size: 13px;
    color: #FFF;
    background-color: $color-warning;
    border-radius: 5px;
    width: 59px;
    height: 22px;
    padding: 7px;
  }
}
/*********************************/
@media screen and (max-width: 1200px){
  .content{
    margin-top: 10px;
  }
}