<div class="container">
  <h2 class="title">From {{responseData.booking.from }} Hotel to {{responseData.booking.to }} </h2>
  <form #bookingForm="ngForm" (ngSubmit)="saveFormData(bookingForm)">
    <div class="cars">
      <owl-carousel-o [options]="customOptions" class="owl-theme">
        <ng-container *ngFor="let item of responseData.car">
          <ng-template carouselSlide>
            <div class="d-flex flex-column car" (click)="onCarClick($event, item.id)"
            [class.active]="formData.selectedCarId === item.id">

              <div class="radio-container" style="position: absolute; top: 10px; left: 10px;">
                <input type="radio" name="selectedCar" [value]="item.id" [checked]="selectedItemId === item.id" required>
              </div>

              <h2 class="text-center">{{ item.name }}</h2>
              <img [src]="item.cover" alt="{{item.name}}" class="img-fluid">

              <div class="d-flex align-items-center gap-3 flex-column flex-lg-row">
                <div class="car-data">
                  <span>
                    <i style="color: #292D32; padding-right: 5px;" class="fa-solid fa-user"></i>
                  </span>
                  <span>Up to {{item.people}}</span>
                </div>

                <div class="car-data">
                  <span>
                    <i style="color: #292D32; padding-right: 5px;" class="fa-solid fa-briefcase"></i>
                  </span>
                  <span>{{item.bags}} bags</span>
                </div>
              </div>

              <div class="car-data mt-3">
                <span>
                  <i style="color: #292D32; padding-right: 5px;" class="fa-solid fa-clipboard-user"></i>
                </span>
                <span class="meet">Meet and Greet</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <!-- Start of Car Details Section -->
    <div class="car1">
      <div class="input-content" [ngClass]="{ 'has-error': bookingForm.submitted && !formData.from }">
        <div class="icon text-center">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-location-dot"></i>
          </label>
        </div>
        <input type="text" name="from" [(ngModel)]="formData.from" [value]="formData.from" placeholder="From" required #fromInput="ngModel">
       <br> <div *ngIf="fromInput.invalid && fromInput.touched" class="error-message">
         From Location is required
        </div>

      </div>
      <div class="input-content">
        <div class="icon text-center">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-location-dot"></i>
          </label>
        </div>
        <input type="text" name="to" [(ngModel)]="formData.to" [value]="formData.to" placeholder="To" required #toInput="ngModel">
         <br>
       <br> <div *ngIf="toInput.invalid && toInput.touched" class="error-message">
          To Location is required
        </div>
      </div>

      <div class="input-content" [ngClass]="{ 'has-error': bookingForm.submitted && !formData.flightNumber }">
        <div class="icon">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-plane-departure"></i>
          </label>
        </div>
        <input type="text" name="flightNumber" [(ngModel)]="formData.flightNumber" placeholder="Flight Number" required #flightNumberInput="ngModel">

       <br> <div *ngIf="flightNumberInput.invalid && flightNumberInput.touched" class="error-message">
          Flight Number is required
        </div>
      </div>

      <div class="input-content" [ngClass]="{ 'has-error': bookingForm.submitted && !formData.phoneNumber }">
        <div class="icon icon-1">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-phone"></i>
          </label>
        </div>
        <div class="border-bottom-1 border-black">
          <div class="d-flex ms-2 position-relative">
            <ngx-intl-tel-input
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [separateDialCode]="true"
              [selectFirstCountry]="true"
              [maxLength]="20"
              name="phoneNumber"
              [phoneValidation]="false"
              [customPlaceholder]="'Enter phone number'"
              [preferredCountries]="['de']"
              [(ngModel)]="formData.phoneNumber"
              class="custom-tel-input"
              required
              #phoneNumberInput="ngModel"
            ></ngx-intl-tel-input>
          </div>
        </div>
       <br> <div *ngIf="phoneNumberInput.invalid && phoneNumberInput.touched" class="error-message">
          Phone Number is required
        </div>
      </div>

      <div class="input-content" [ngClass]="{ 'has-error': bookingForm.submitted && !formData.date }">
        <div class="icon">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-calendar-days"></i>
          </label>
        </div>
        <input type="date" name="date" [(ngModel)]="formData.date" [value]="formData.date" required #dateInput="ngModel">

        <div *ngIf="dateInput.invalid && dateInput.touched" class="error-message">
          Date is required
        </div>
      </div>

      <div class="input-content" [ngClass]="{ 'has-error': bookingForm.submitted && !formData.pickuptime }">
        <div class="icon">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-clock"></i>
          </label>
        </div>
        <div id="datepickerWrapperFromOne" class="u-datepicker">
          <label class="ms-2">Pickup time</label>
          <input [ngxTimepicker]="picker" class="form-control time-input" name="pickuptime" [(ngModel)]="formData.pickuptime" [value]="formData.pickuptime" required #pickuptimeInput="ngModel">
          <ngx-material-timepicker #picker></ngx-material-timepicker>
        </div>
        <div *ngIf="pickuptimeInput.invalid && pickuptimeInput.touched" class="error-message">
          Pickup time is required
        </div>
      </div>

      <div class="input-content">
        <div class="icon">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-user-plus"></i>
          </label>
        </div>
        <div id="person-num">
          <label class="ms-2">Passengers (Age +18)</label>
          <div class="d-flex justify-content-start align-items-center gap-3 ms-2">
            <div class="persons">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <button (click)="increase('adult')" type="button"> + </button>
                </div>
                <div>
                  <span>{{adultCount}}</span>
                </div>
                <div>
                  <button (click)="decrease('adult')" type="button"> - </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-content">
        <div class="icon icon-1">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-user-group"></i>
          </label>
        </div>
        <div id="person-num">
          <label class="ms-2">Children (Age 6-18)</label>
          <div class="d-flex justify-content-start align-items-center gap-3 ms-2">
            <div class="persons">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <button (click)="increase('child')" type="button"> + </button>
                </div>
                <div>
                  <span>{{childCount}}</span>
                </div>
                <div>
                  <button (click)="decrease('child')" type="button"> - </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-content">
        <div class="icon">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-wheelchair"></i>
          </label>
        </div>
        <div id="person-num">
          <label class="ms-2">Infants (Age 0-5)</label>
          <div class="d-flex justify-content-start align-items-center gap-3 ms-2">
            <div class="persons">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <button (click)="increase('infant')" type="button"> + </button>
                </div>
                <div>
                  <span>{{infantCount}}</span>
                </div>
                <div>
                  <button (click)="decrease('infant')" type="button"> - </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Display total persons -->
      <div class="input-content" class="d-none">
        <div class="icon">
          <label style="margin: auto; font-size: 24px; color: #0DB1FF;">
            <i class="fa-solid fa-users"></i>
          </label>
        </div>
        <div id="total-persons">
          <label class="ms-2">Total Persons</label>
          <div class="persons-total">
            <span>{{formData.personsTotal}}</span>
          </div>
        </div>
      </div>

      <div class="message">
        <label>
          Special Requirements
        </label>
        <textarea class="form-control" name="specialRequirements" [(ngModel)]="formData.specialRequirements" rows="8" required></textarea>
      </div>

    </div>

    <div class="btns">
      <button type="button" (click)="previousStep()">Cancel</button>
      <button type="submit">Book Now</button>
    </div>
</form>



</div>
