<div class="container">
  <h2 class="title">From {{responseData.booking.from }} Hotel to {{responseData.booking.to }} </h2>
  <form #bookingForm="ngForm" (ngSubmit)="saveFormData(bookingForm)">
    <div class="cars">
      <owl-carousel-o [options]="customOptions" class="owl-theme">
        <ng-container *ngFor="let item of responseData.car">
          <ng-template carouselSlide>
            <div class="d-flex flex-column car custom-carousel-item"
                 (click)="onCarClick($event, item.id)"
                 [class.active]="formData.selectedCarId === item.id">

              <div class="radio-container" style="position: absolute; top: 10px; left: 10px;">
                <input type="radio" name="selectedCar" [value]="item.id"  #radio
                       [checked]="selectedCarId === item.id" required>
              </div>

              <img [src]="item.cover" alt="{{item.name}}" class="img-fluid">
              <h2 class="text-center">{{ item.name }}</h2>

                <div class="car-data mb-3 mt-1">
                  <span>
                    <i style="color: #292D32; padding-right: 5px;" class="fa-solid fa-user"></i>
                  </span>
                  <span>Up to {{item.people}} people</span>
                </div>



              <div class="car-data">
                <span>
                  <i style="color: #292D32; padding-right: 5px;" class="fa-solid fa-briefcase"></i>
                </span>
                <span> Fits {{item.bags}} medium suitcases</span>
              </div>

              <div class="car-data mt-3">
                <span>
                  <i style="color: #292D32; padding-right: 5px;" class="fa-solid fa-clipboard-user"></i>
                </span>
                <span class="meet">Meet and Greet</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

    </div>

    <!-- Start of Car Details Section -->
    <div class="car1">
      <div class="row">
        <div class="col">
          <div class="thin-heading">Starting From:</div>
          <div class="bold-heading">{{formData.from}}	</div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col" *ngIf="Isairport">
              <div class="thin-heading">Flight Number</div>

              <div class="form-outline" data-mdb-input-init>
                <form class="example-form">
                  <mat-form-field appearance="outline">
                    <mat-label>Arrival flight number</mat-label>
                    <input matInput placeholder="e.g. EK 213"name="flightNumber" [(ngModel)]="formData.flightNumber">
                  </mat-form-field>
                  

                </form>



              </div>
            </div>
            <div class="col">
              <div class="thin-heading">Landing Time</div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input [(ngModel)]="formData.pickuptime"  [value]="formData.pickuptime" #pickuptimeInput="ngModel" matInput readonly>
                <mat-icon matSuffix>access_time</mat-icon>

              </mat-form-field>
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <div class="thin-heading">Going to:</div>
          <div class="bold-heading">{{formData.to}}	</div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col" *ngIf="!Isairport">
              <div class="thin-heading">Flight Number</div>

              <div class="form-outline" data-mdb-input-init>
                <form class="example-form">
                  <mat-form-field appearance="outline">
                    <mat-label>Arrival flight number</mat-label>
                    <input matInput placeholder="e.g. EK 213" name="flightNumber" [(ngModel)]="formData.flightNumber">
                  </mat-form-field>
                  

                </form>



              </div>
            </div>
           
          </div>

        </div>


      </div>

      
      <div *ngIf="activeSection == 2" >
        <hr class="horizontal-line">

        <div class="row">
          <div class="col">
            <div class="thin-heading">Returning To:</div>
            <div class="bold-heading">{{formData.to}}	</div>
          </div>
          <div class="col ">
            <div class="row">
              <div class="col">
                <div class="thin-heading">Return Date:</div>
                <div class="form-outline" data-mdb-input-init>
                  <form class="example-form">
                    <mat-form-field appearance="outline">
                      <!-- <mat-label>Outline form field</mat-label> -->
                      <input [(ngModel)]="return_date" [value]="return_date" #returndateInput="ngModel" matInput readonly>
                      <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>
                  </form>
  
                </div>
              </div>
              <div class="col">
                <div class="thin-heading">Pick up Time:</div>
                <mat-form-field appearance="outline" class="custom-border-radius">
                  <input [(ngModel)]="return_time" [value]="return_time" #returntimeInput="ngModel" matInput readonly>
                  <mat-icon matSuffix>access_time</mat-icon>
                </mat-form-field>
              </div>
            </div>
  
          </div>
        </div>
  
        <div class="row mt-5">
          <div class="col">
            <div class="thin-heading">Returning To:</div>
            <div class="bold-heading">{{formData.from}}	</div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col" *ngIf="Isairport">
                <div class="thin-heading">Flight Number</div>
  
                <div class="form-outline" data-mdb-input-init>
                  <form class="example-form">
                    <mat-form-field appearance="outline">
                      <mat-label>Departure flight number (optional)</mat-label>
                      <input matInput placeholder="e.g. EK 213">
                    </mat-form-field>
  
  
                  </form>
  
                </div>
              </div>
              <!-- <div class="col">
                <div class="thin-heading">Departure flight time</div>
                <mat-form-field appearance="outline">
                  <input [(ngModel)]="formData.pickuptime" [value]="formData.pickuptime" #pickuptimeInput="ngModel" matInput readonly>
                  <mat-icon matSuffix>access_time</mat-icon>
  
                </mat-form-field>
              </div> -->
            </div>
  
          </div>
  
        </div>
      </div>

      

      <hr class="horizontal-line">
      <div class="row mb-5">
        <div class="col">
          <div class="bold-heading">Phone Number </div>
        </div>
        <div class="col mt-2 ">
        <div class="d-flex ms-2 position-relative">
          <ngx-intl-tel-input [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
            [separateDialCode]="true" [selectFirstCountry]="true" [maxLength]="20" name="phoneNumber"
            [phoneValidation]="false" [customPlaceholder]="'Enter phone number'" [preferredCountries]="['de']"
            [(ngModel)]="formData.phoneNumber" class="custom-tel-input" required
            #phoneNumberInput="ngModel"></ngx-intl-tel-input>
        </div>
      </div>
      </div>



      <div class="message mt-5">
        <label>
          Special Requirements
        </label>
        <textarea class="form-control" name="specialRequirements" [(ngModel)]="formData.specialRequirements"
          rows="8"></textarea>
      </div>

    </div>

    <div class="btns">
      <button type="button" (click)="previousStep()">Cancel</button>
      <button type="submit">Book Now</button>
    </div>
  </form>



</div>
